<%- include('header') %>

        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Add New Banner</h2>
                        <div>
                            <form method="post" action="/admin/createBanner" enctype="multipart/form-data" onsubmit="return validateForm()">
                           
                                <button type="submit" class="btn btn-md rounded font-sm hover-up">Publish</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Basic</h4>
                        </div>
                        <div class="card-body">
                           
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Banner title</label>
                                    <input type="text" placeholder="Type here" name="title" class="form-control" id="product_name">
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Full description</label>
                                    <textarea placeholder="Type here" name="discription" class="form-control" rows="4"></textarea>
                                </div>
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Link</label>
                                    <input type="text" placeholder="Type here" name="link" class="form-control" id="product_name">
                                </div>
                                
                               
                               
                           
                        </div>
                    </div> <!-- card end// -->
                    
                </div>
                <div class="col-lg-3">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Media</h4>
                        </div>
                        <div class="card-body">
                            <div class="input-upload">
                                <img src="/admin/assets/imgs/theme/upload.svg" alt="">
                                <input class="form-control" name="image" type="file"  accept="image/*">
                            </div>
                        </div>
                    </div> <!-- card end// -->
                </form>
                </div>
            </div>
        </section> <!-- content-main end// -->
        <script>
            function validateForm() {
              clearErrorMessages();
          
              const title = document.getElementById('title').value;
              const link = document.getElementById('link').value;
          
              let isValid = true;
          
              if (title.trim() === '') {
                displayErrorMessage('title', 'Please enter a banner title.');
                isValid = false;
              }
          
              if (link.trim() === '') {
                displayErrorMessage('link', 'Please enter a product title.');
                isValid = false;
              }
          
              return isValid;
            }
          
            function displayErrorMessage(fieldName, message) {
              const field = document.getElementById(fieldName);
              const errorDiv = document.createElement('div');
              errorDiv.className = 'error-message';
              errorDiv.innerText = message;
          
              field.parentNode.appendChild(errorDiv);
            }
          
            function clearErrorMessages() {
              const errorMessages = document.querySelectorAll('.error-message');
              errorMessages.forEach((errorMessage) => {
                errorMessage.parentNode.removeChild(errorMessage);
              });
            }
          </script>
          

        <%- include('footer') %>
