<%-include('header')%>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span> Blog
                    
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container custom">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="single-header mb-50">
                            <h1 class="font-xxl text-brand">Our Blog</h1>
                            <div class="entry-meta meta-1 font-xs mt-15 mb-15">
                                <span class="post-by">32 Sub Categories</span>
                                <span class="post-on has-dot">1020k Article</span>
                                <span class="time-reading has-dot">480 Authors</span>
                                <span class="hit-count  has-dot">29M Views</span>
                            </div>
                        </div>
                        <div class="loop-grid pr-30">
                            <div class="row">
                                <div class="col-12">
                                    <article class="first-post mb-30 wow fadeIn animated hover-up">
                                        <div class="img-hover-slide position-relative overflow-hidden">
                                            <span class="top-right-icon bg-dark"><i class="fi-rs-bookmark"></i></span>
                                            <div class="post-thumb img-hover-scale">
                                                <a href="blog-post-right.html">
                                                    <img src="https://images.pexels.com/photos/1500590/pexels-photo-1500590.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="entry-content">
                                            <div class="entry-meta meta-1 mb-30">
                                                <a class="entry-meta meta-0" href="blog-category-grid.html"><span class="post-in background4 text-brand font-xs">Mobile Phone</span></a>
                                                <div class="font-sm">
                                                    <span><span class="mr-10 text-muted"><i class="fi-rs-eye"></i></span>23k</span>
                                                    <span class="ml-30"><span class="mr-10 text-muted"><i class="fi-rs-comment-alt"></i></span>17k</span>
                                                    <span class="ml-30"><span class="mr-10 text-muted"><i class="fi-rs-share"></i></span>18k</span>
                                                </div>
                                            </div>
                                            <h2 class="post-title mb-20">
                                                <a href="">Capturing the Perfect Moment: Unveiling the World  of DSLR Cameras, Lenses, and Accessories</a></h2>
                                            <p class="post-exerpt font-medium text-muted mb-30">Welcome, photography enthusiasts! Whether you're a seasoned pro or a curious beginner, this blog is your gateway to the captivating realm of DSLR cameras, lenses, and accessories. Here, we'll delve into the technical aspects, explore creative possibilities, and equip you with the knowledge to capture those fleeting moments that make life extraordinary.</p>
                                            <div class="mb-20 entry-meta meta-2">
                                                <div class="font-xs ">
                                                    <span class="post-by">By <a href="blog-category-grid.html">Azimeto</a></span>
                                                    <span class="post-on">12/07/2023 09:35 EST</span>
                                                    <span class="time-reading">8 mins read</span>
                                                    <p class="font-xs mt-5">Updated 18/08/2023 07:12 EST</p>
                                                </div>
                                                <!-- <a href="/blog" class="btn btn-sm">Read more<i class="fi-rs-arrow-right ml-10"></i></a> -->
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-lg-6">
                                    <article class="wow fadeIn animated hover-up mb-30">
                                        <div class="post-thumb img-hover-scale">
                                            <a href="blog-post-right.html">
                                                <img src="assets/imgs/blog/blog-2.jpg" alt="">
                                            </a>
                                            <div class="entry-meta">
                                                <a class="entry-meta meta-2" href="blog-category-grid.html">Politic</a>
                                            </div>
                                        </div>
                                        <div class="entry-content-2">
                                            <h3 class="post-title mb-15">
                                                <a href="blog-post-right.html">The Allure of the DSLR: A Powerful Ally in Your Creative Pursuit</a></h3>
                                            <p class="post-exerpt mb-30">DSLR cameras, or Digital Single-Lens Reflex cameras, reign supreme in the photography world for a reason. They offer unparalleled image quality, manual control over exposure and focus, and the versatility to tackle any genre, from landscapes and portraits to wildlife and action shots.</p>
                                            <div class="entry-meta meta-1 font-xs color-grey mt-10 pb-10">
                                                <div>
                                                    <span class="post-on"> <i class="fi-rs-clock"></i> 25 November 2023</span>
                                                    <span class="hit-count has-dot">126k Views</span>
                                                </div>
                                                <a href="blog-post-right.html" class="text-brand">Read more <i class="fi-rs-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-lg-6">
                                    <article class="wow fadeIn animated hover-up mb-30">
                                        <div class="post-thumb img-hover-scale">
                                            <a href="blog-post-right.html">
                                                <img src="assets/imgs/blog/blog-8.jpg" alt="">
                                            </a>
                                            <div class="entry-meta">
                                                <a class="entry-meta meta-2" href="blog-category-grid.html">Global</a>
                                            </div>
                                        </div>
                                        <div class="entry-content-2">
                                            <h3 class="post-title mb-15">
                                                <a href="blog-post-right.html">Lenses: Your Window to the World</a></h3>
                                            <p class="post-exerpt mb-30">Think of lenses as the paintbrushes of photography. Each lens has a unique character, shaping how you tell your visual story. A wide-angle lens captures expansive landscapes and grand architecture, while a telephoto lens brings distant subjects closer, ideal for wildlife and sports photography.</p>
                                            <div class="entry-meta meta-1 font-xs color-grey mt-10 pb-10">
                                                <div>
                                                    <span class="post-on"> <i class="fi-rs-clock"></i> 25 November 2023</span>
                                                    <span class="hit-count has-dot">126k Views</span>
                                                </div>
                                                <a href="blog-post-right.html" class="text-brand">Read more <i class="fi-rs-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-lg-6">
                                    <article class="wow fadeIn animated hover-up mb-30">
                                        <div class="post-thumb img-hover-scale">
                                            <a href="blog-post-right.html">
                                                <img src="assets/imgs/blog/blog-3.jpg" alt="">
                                            </a>
                                            <div class="entry-meta">
                                                <a class="entry-meta meta-2" href="blog-category-grid.html">Sport</a>
                                            </div>
                                        </div>
                                        <div class="entry-content-2">
                                            <h3 class="post-title mb-15">
                                                <a href="blog-post-right.html">Essential Gear: Elevate Your Photography Game</a></h3>
                                            <p class="post-exerpt mb-30">Beyond the camera and lens, a well-chosen kit of accessories can significantly enhance your photography experience. A sturdy tripod ensures sharp images even in low light conditions, while a comfortable camera bag protects your gear and keeps it organized for on-the-go adventures.</p>
                                            <div class="entry-meta meta-1 font-xs color-grey mt-10 pb-10">
                                                <div>
                                                    <span class="post-on"> <i class="fi-rs-clock"></i> 28 November 2023</span>
                                                    <span class="hit-count has-dot">126k Views</span>
                                                </div>
                                                <a href="blog-post-right.html" class="text-brand">Read more <i class="fi-rs-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-lg-6">
                                    <article class="wow fadeIn animated hover-up mb-30">
                                        <div class="post-thumb img-hover-scale">
                                            <a href="blog-post-right.html">
                                                <img src="assets/imgs/blog/blog-4.jpg" alt="">
                                            </a>
                                            <div class="entry-meta">
                                                <a class="entry-meta meta-2" href="blog-category-grid.html">Technology</a>
                                            </div>
                                        </div>
                                        <div class="entry-content-2">
                                            <h3 class="post-title mb-15">
                                                <a href="blog-post-right.html">Beyond the Technical: Capturing the Essence of a Moment</a></h3>
                                            <p class="post-exerpt mb-30">Photography is more than just megapixels and shutter speeds. It's about capturing emotions, telling stories, and preserving precious memories. As you delve into the world of DSLRs, remember to focus on the emotional connection you want to create.</p>
                                            <div class="entry-meta meta-1 font-xs color-grey mt-10 pb-10">
                                                <div>
                                                    <span class="post-on"> <i class="fi-rs-clock"></i> 2 December 2023</span>
                                                    <span class="hit-count has-dot">126k Views</span>
                                                </div>
                                                <a href="blog-post-right.html" class="text-brand">Read more <i class="fi-rs-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-lg-6">
                                    <article class="wow fadeIn animated hover-up mb-30">
                                        <div class="post-thumb img-hover-scale">
                                            <a href="blog-post-right.html">
                                                <img src="assets/imgs/blog/blog-5.jpg" alt="">
                                            </a>
                                            <div class="entry-meta">
                                                <a class="entry-meta meta-2" href="blog-category-grid.html">Watch</a>
                                            </div>
                                        </div>
                                        <div class="entry-content-2">
                                            <h3 class="post-title mb-15">
                                                <a href="blog-post-right.html">Join the Thriving Photography Community</a></h3>
                                            <p class="post-exerpt mb-30">The beauty of photography lies not only in capturing stunning images but also in the vibrant community it fosters. Connect with fellow enthusiasts online and offline, share your work, and learn from each other's experiences.</p>
                                            <div class="entry-meta meta-1 font-xs color-grey mt-10 pb-10">
                                                <div>
                                                    <span class="post-on"> <i class="fi-rs-clock"></i> 2 December 2023</span>
                                                    <span class="hit-count has-dot">126k Views</span>
                                                </div>
                                                <a href="blog-post-right.html" class="text-brand">Read more <i class="fi-rs-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-lg-6">
                                    <article class="wow fadeIn animated hover-up mb-30">
                                        <div class="post-thumb img-hover-scale">
                                            <a href="blog-post-right.html">
                                                <img src="assets/imgs/blog/blog-9.jpg" alt="">
                                            </a>
                                            <div class="entry-meta">
                                                <a class="entry-meta meta-2" href="blog-category-grid.html">Politic</a>
                                            </div>
                                        </div>
                                        <div class="entry-content-2">
                                            <h3 class="post-title mb-15">
                                                <a href="blog-post-right.html">The Final Click: Embark on Your Photographic Adventure</a></h3>
                                            <p class="post-exerpt mb-30">The world is your canvas, and your DSLR is your brush. With the right knowledge, equipment, and a passionate spirit, you can capture moments that transcend time and space. So, step out, explore, experiment, and don't be afraid to make mistakes</p>
                                            <div class="entry-meta meta-1 font-xs color-grey mt-10 pb-10">
                                                <div>
                                                    <span class="post-on"> <i class="fi-rs-clock"></i> 25 December 2023</span>
                                                    <span class="hit-count has-dot">126k Views</span>
                                                </div>
                                                <a href="blog-post-right.html" class="text-brand">Read more <i class="fi-rs-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                        <!--post-grid-->
                        <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-start">
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                                    <li class="page-item"><a class="page-link" href="#">16</a></li>
                                    <li class="page-item"><a class="page-link" href="#"><i class="fi-rs-angle-double-small-right"></i></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-3 primary-sidebar sticky-sidebar">
                        <div class="widget-area">
                            <div class="sidebar-widget widget_search mb-50">
                                <!-- <div class="search-form">
                                    <form action="#">
                                        <input type="text" placeholder="Search…">
                                        <button type="submit"> <i class="fi-rs-search"></i> </button>
                                    </form>
                                </div> -->
                            </div>
                            <!--Widget categories-->
                            <div class="sidebar-widget widget_categories mb-40">
                                <!-- <div class="widget-header position-relative mb-20 pb-10">
                                    <h5 class="widget-title">Categories</h5>
                                </div> -->
                                <!-- <div class="post-block-list post-module-1 post-module-5">
                                    <ul>
                                        <li class="cat-item cat-item-2"><a href="blog-category-list.html">Camera Reviews</a> (3)</li>
                                        <li class="cat-item cat-item-3"><a href="blog-category-list.html">Lenses & Accessories</a> (6)</li>
                                        <li class="cat-item cat-item-4"><a href="blog-category-list.html">Photography Techniques</a> (4)</li>
                                        <li class="cat-item cat-item-5"><a href="blog-category-list.html">Post-Processing</a> (3)</li>
                                        <li class="cat-item cat-item-6"><a href="blog-category-list.html">Interviews & Features</a> (6)</li>
                                        <li class="cat-item cat-item-7"><a href="blog-category-list.html">Local Photography Events & News</a> (2)</li>
                                    </ul>
                                </div> -->
                            </div>
                            <!--Widget latest posts style 1-->
                            <div class="sidebar-widget widget_alitheme_lastpost mb-20">
                                <div class="widget-header position-relative mb-20 pb-10">
                                    <h5 class="widget-title">Trending Now</h5>
                                </div>
                                <div class="row">
                                    <div class="col-12 sm-grid-content mb-30">
                                        <div class="post-thumb d-flex border-radius-5 img-hover-scale mb-15">
                                            <a href="blog-post-fullwidth.html">
                                                <img src="assets/imgs/blog/blog-1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="post-content media-body">
                                            <h4 class="post-title mb-10 text-limit-2-row">Unleash Your Inner Shutterbug: Essential Tips for Beginners</h4>
                                            <div class="entry-meta meta-13 font-xxs color-grey">
                                                <span class="post-on mr-10">25 July</span>
                                                <span class="hit-count has-dot ">126k Views</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 sm-grid-content mb-30">
                                        <div class="post-thumb d-flex border-radius-5 img-hover-scale mb-15">
                                            <a href="blog-post-fullwidth.html">
                                                <img src="assets/imgs/blog/blog-3.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="post-content media-body">
                                            <h6 class="post-title mb-10 text-limit-2-row">DSLR vs. Mirrorless: Demystifying the Camera Battle</h6>
                                            <div class="entry-meta meta-13 font-xxs color-grey">
                                                <span class="post-on mr-10">27 September</span>
                                                <span class="hit-count has-dot ">126k Views</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 sm-grid-content mb-30">
                                        <div class="post-thumb d-flex border-radius-5 img-hover-scale mb-15">
                                            <a href="blog-post-fullwidth.html">
                                                <img src="assets/imgs/blog/blog-4.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="post-content media-body">
                                            <h6 class="post-title mb-10 text-limit-2-row">Shutter Speed Secrets: Freezing Time and Blurring Motion</h6>
                                            <div class="entry-meta meta-13 font-xxs color-grey">
                                                <span class="post-on mr-10">21 November</span>
                                                <span class="hit-count has-dot ">126k Views</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 sm-grid-content mb-30">
                                        <div class="post-thumb d-flex border-radius-5 img-hover-scale mb-15">
                                            <a href="blog-post-fullwidth.html">
                                                <img src="assets/imgs/blog/blog-5.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="post-content media-body">
                                            <h6 class="post-title mb-10 text-limit-2-row">Street Stories: Telling Tales Through Urban Photography</h6>
                                            <div class="entry-meta meta-13 font-xxs color-grey">
                                                <span class="post-on mr-10">2 December</span>
                                                <span class="hit-count has-dot ">126k Views</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 sm-grid-content mb-30">
                                        <div class="post-thumb d-flex border-radius-5 img-hover-scale mb-15">
                                            <a href="blog-post-fullwidth.html">
                                                <img src="assets/imgs/blog/blog-6.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="post-content media-body">
                                            <h6 class="post-title mb-10 text-limit-2-row">Light & Shadow Play: Shaping Your Photos with Lighting Techniques </h6>
                                            <div class="entry-meta meta-13 font-xxs color-grey">
                                                <span class="post-on mr-10">7 December</span>
                                                <span class="hit-count has-dot ">126k Views</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Widget ads-->
                            
                               
                            </div>
                            <!--Widget Tags-->
                            <div class="sidebar-widget widget_tags mb-50">
                                <div class="widget-header position-relative mb-20 pb-10">
                                    <h5 class="widget-title">Popular tags </h5>
                                </div>
                                <div class="tagcloud">
                                    <a class="tag-cloud-link" href="blog-category-grid.html">Photography</a>
                                    <a class="tag-cloud-link" href="blog-category-grid.html">landscapephotography</a>
                                    <a class="tag-cloud-link" href="blog-category-grid.html">lensadapter</a>
                                    <a class="tag-cloud-link" href="blog-category-grid.html">shutter_speed</a>
                                    <a class="tag-cloud-link" href="blog-category-grid.html">picoftheday</a>
                                    <a class="tag-cloud-link" href="blog-category-grid.html">lightroom</a>
                                    <a class="tag-cloud-link" href="blog-category-grid.html">wildlifephotography </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%-include('footer')%>