<%-include('header')%>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span> Pages
                    <span></span> Contact us
                </div>
            </div>
        </div>
        <section class="hero-2 bg-green">
            <div class="hero-content">
                <div class="container">
                    <div class="text-center">
                        <h4 class="text-brand mb-20">Get in touch</h4>
                        <h1 class="mb-20 wow fadeIn animated font-xxl fw-900">
                            Let's Talk About <br>Your <span class="text-style-1">Idea</span>
                        </h1>
                        <p class="w-50 m-auto mb-50 wow fadeIn animated">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum quam eius placeat, a quidem mollitia at accusantium reprehenderit pariatur provident nam ratione incidunt magnam sequi.</p>
                        <p class="wow fadeIn animated">
                            <a class="btn btn-brand btn-lg font-weight-bold text-white border-radius-5 btn-shadow-brand hover-up" href="/about">About Us</a>
                            <a class="btn btn-outline btn-lg btn-brand-outline font-weight-bold text-brand bg-white text-hover-white ml-15 border-radius-5 btn-shadow-brand hover-up">Support Center</a>
                        </p>
                    </div>
                  
                </div>
                <a href="">
                    <img src="https://img.freepik.com/premium-vector/contact-us-mobile-app-page-screen-vector-template-describe-issue-get-help-customer-support-service-helpdesk-flat-design-website-instructions-ux-ui-gui-smartphone-interface-cartoon-concept_106317-11849.jpg?w=2000" alt="">
                </a>
            </div>
        </section>
        <section class="section-border pt-50 pb-50">
            <div class="container">
                <div id='map-panes' class="leaflet-map mb-50"></div>
                <div class="row">
                    <div class="col-md-4 mb-4 mb-md-0">
                        <h4 class="mb-15 text-brand">Office</h4>
                        205 North Michigan Avenue, Suite 810<br>
                        Chicago, 60601, USA<br>
                        <abbr title="Phone">Phone:</abbr> (123) 456-7890<br>
                        <abbr title="Email">Email: </abbr>pixelperfect@gmail.com<br>
                        <a class="btn btn-outline btn-sm btn-brand-outline font-weight-bold text-brand bg-white text-hover-white mt-20 border-radius-5 btn-shadow-brand hover-up"><i class="fi-rs-marker mr-10"></i>View map</a>
                    </div>
                    <div class="col-md-4 mb-4 mb-md-0">
                        <h4 class="mb-15 text-brand">Studio</h4>
                        205 North Michigan Avenue, Suite 810<br>
                        Chicago, 60601, USA<br>
                        <abbr title="Phone">Phone:</abbr> (123) 456-7890<br>
                        <abbr title="Email">Email: </abbr>pixelperfect@gmail.com<br>
                        <a class="btn btn-outline btn-sm btn-brand-outline font-weight-bold text-brand bg-white text-hover-white mt-20 border-radius-5 btn-shadow-brand hover-up"><i class="fi-rs-marker mr-10"></i>View map</a>
                    </div>
                    <div class="col-md-4">
                        <h4 class="mb-15 text-brand">Shop</h4>
                        first floor-Centre Square Mall, Mahatma Gandhi Rd, Rajaji Junction, Kochi, Ernakulam, Kerala 682035<br>
                        <abbr title="Phone">Phone:</abbr> (123) 456-7890<br>
                        <abbr title="Email">Email: </abbr>pixelperfect@gmail.com<br>
                        <a class="btn btn-outline btn-sm btn-brand-outline font-weight-bold text-brand bg-white text-hover-white mt-20 border-radius-5 btn-shadow-brand hover-up"> <i class="fi-rs-marker mr-10"></i> View map</a>
                    </div>
                </div>
            </div>
        </section>
        
    </main>
    <%-include('footer')%>